.root {
  border-radius: var(--mantine-radius-sm);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent !important;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
  }

  &[data-active] {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
}

.label {
  font-size: var(--mantine-font-size-xs);
  font-weight: 600;
  display: block;
}

.children {
  position: relative;
}
